%title {
  font-family: "SF UI Text", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: var(--black-primary);
}

.homePage {
  position: relative;
  min-width: 100vw;
  background: var(--header-bg-color);
  min-height: 100vh;
  font-family: "SF UI Text", sans-serif;
  --app-header-h: 60px;
  // overflow-y: hidden;

  .topbar {
    height: var(--app-header-h);
    background: var(--header-bg-color);
    padding: 12px 0;
    border-bottom: 1px solid #e1e2e6;
    justify-content: space-around;

    .brand {
      padding-left: 20px;
      flex: 1 0 300px;
      cursor: pointer;

      .title1 {
        @extend %title;
        margin-left: 10px;
        margin-right: 5px;
        font-weight: 700;
      }
      .title2 {
        @extend %title;
        font-weight: 500;
      }
    }

    .navs {
      flex: 2 1 100%;
      column-gap: 10px;
      justify-content: center;

      > .navItem {
        display: inline-flex;
        padding: 0 15px;
        color: #515666;
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
        &.active {
          border-radius: 8px;
          box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.05);
          background: #fff !important;
          color: #2450e3 !important;
        }
        &:hover {
          border-radius: 10px;
          background-color: #e1e2e6;
          color: #515666;
        }
      }
    }

    .profile {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 0 0 300px;
      padding-right: 30px;
      .userInfo {
        padding: 3px 8px;
        border-radius: 8px;
        height: 32px;
        margin-left: 10px;
        cursor: pointer;
      }
      .avatar {
        width: 32px;
        height: 32px;
      }
    }
  }
}

.dropdown {
  position: relative;
  right: 20px;
}

.menu {
  cursor: pointer;
  width: 120px;
}
