@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

    /* layout */
    --project-nav-width: 60px;

    /* new flow */
    --app-header-h: 70px;
  
    --header-bg-color: #f2f4f8;
  
    /* colors */
    --gray-200: #e2e8f0;
  
    --black-primary: #202437;
  
    --border-secondary-3: #ebecf1;
  
    --theme-primary: #2450e3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* override styles */
.react-tabs__tab-panel:not(.react-tabs__tab-panel--selected) {
  display: none;
}